*.bak
*.log
.*.swo
.*.swp
.idea
.vim*
app/config/config.php
app/config/config.yml
composer.phar
data
results
tags
vendor
vendor-doc
.buildpath
.project
.settings
/src/nbproject/private/
/nbproject/private/
/nbproject
*.lock
